head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content= message)
    meta(name='author', content='Alailson Barbosa Ribeiro <ribeiro@alailson.com.br>')
    meta(name='generator', content='Alailson')
    title= title
    link(rel='canonical', href='/www/static/')
    // Bootstrap core CSS
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    // Favicons
    link(rel='apple-touch-icon', href='/www/static/icons/apple-touch-icon.png', sizes='180x180')
    link(rel='icon', href='/www/static/icons/128x128.png', sizes='32x32', type='image/png')
    link(rel='icon', href='/www/static/icons/128x128.png', sizes='16x16', type='image/png')
    link(rel='manifest', href='/www/static/manifest.json')
    link(rel='mask-icon', href='/www/static/icons/safari-pinned-tab.svg', color='#8C0698')
    link(rel='icon', href='/www/static/icons/favicon.png')
    meta(name='msapplication-config', content='/static/browserconfig.xml')
    meta(name='theme-color', content='#8C0698')
    style.
        .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        }
        @media (min-width: 768px) {
        .bd-placeholder-img-lg {
        font-size: 3.5rem;
        }
        }