doctype html
html(lang='en')
    include head.pug
    meta(http-equiv='refresh', content="1; URL='/www/'")
    body.text-center
        img.mb-4(src='/www/static/icons/512x512.png', alt='', width='72', height='72')
        hr
        p.mt-5.mb-3.text-muted Dedicante IMMB © 2020-2020
